*{
  background-color: #ffffff
} 


 

.pag2_btn{
  float:right;
  color:red;
}

.pag1_btn{
  float : right;
  color:red;
}


.pag1_btn{
  margin-right: 15px;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  color: blueviolet;
  box-shadow: 1px 1px 5px 5px #f2f2f5;
}

.pag1_btn:hover{
  cursor: pointer;
  background-color: aqua;
}

.show_btn{
  margin-top: -10px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  color: blueviolet;
  box-shadow: 1px 1px 5px 5px #f2f2f5;
}

.show_btn:hover{
  cursor: pointer;
  background-color: aqua;
}

.piechart{
  /* position: relative; */
}

#piechart{
  font-style: italic;
  color: rgb(189, 93, 56);

 margin-top: 10px;
   
}

.pag2_btn{
  margin-top: 10px;
  margin-right: 15px;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  color: blueviolet;
  box-shadow: 1px 1px 5px 5px #f2f2f5;
}

.pag2_btn:hover{
  cursor: pointer;
  background-color: aqua;
}